/*
* Glowing Buttons
*
* A pulse like glow that appears
* rythmically around the edges of
* a button.
*/
/*
* Glow animation mixin for Compass users
*
*/
/*
* Glowing Keyframes
*
*/

@keyframes glowing {
  from {
    box-shadow: 0 0 0 rgba($lighter, 0.3);
  }
  50% {
    box-shadow: 0 0 1.25em rgba($lighter, 0.8);
  }
  to {
    box-shadow: 0 0 0 rgba($lighter, 0.3);
  }
}
/*
* Glowing Keyframes for various colors
*
*/
@keyframes primary-electric {
  from {
    box-shadow: 0 0 0 rgba($primary-dark, 0.3);
  }
  50% {
    box-shadow: 0 0 1.25em rgba($primary-electric, 0.8);
  }
  to {
    box-shadow: 0 0 0 rgba($primary-light, 0.3);
  }
}
@keyframes secondary-electric {
  from {
    box-shadow: 0 0 0 rgba($secondary-dark, 0.3);
  }
  50% {
    box-shadow: 0 0 1.25em rgba($secondary-electric, 0.8);
  }
  to {
    box-shadow: 0 0 0 rgba($secondary-light, 0.3);
  }
}
@keyframes accent-electric {
  from {
    box-shadow: 0 0 0 rgba($accent-light, 0.3);
  }
  50% {
    box-shadow: 0 0 1.25em rgba($accent-electric, 0.8);
  }
  to {
    box-shadow: 0 0 0 rgba($accent-dark, 0.3);
  }
}
@keyframes glowing-warning {
  from {
    box-shadow: 0 0 0 rgba($warning, 0.3);
  }
  50% {
    box-shadow: 0 0 1.25em rgba($warning, 0.8);
  }
  to {
    box-shadow: 0 0 0 rgba($warning, 0.3);
  }
}
@keyframes glowing-success {
  from {
    box-shadow: 0 0 0 rgba($success, 0.3);
  }
  50% {
    box-shadow: 0 0 1.25em rgba($success, 0.8);
  }
  to {
    box-shadow: 0 0 0 rgba($success, 0.3);
  }
}
@keyframes glowing-note {
  from {
    box-shadow: 0 0 0 rgba($note, 0.3);
  }
  50% {
    box-shadow: 0 0 1.25em rgba($note, 0.8);
  }
  to {
    box-shadow: 0 0 0 rgba($note, 0.3);
  }
}
@keyframes glowing-danger {
  from {
    box-shadow: 0 0 0 rgba($danger, 0.3);
  }
  50% {
    box-shadow: 0 0 1.25em rgba($danger, 0.8);
  }
  to {
    box-shadow: 0 0 0 rgba($danger, 0.3);
  }
}
@keyframes glowing-info {
  from {
    box-shadow: 0 0 0 rgba($info, 0.3);
  }
  50% {
    box-shadow: 0 0 1.25em rgba($info, 0.8);
  }
  to {
    box-shadow: 0 0 0 rgba($info, 0.3);
  }
}
/*
* Glowing Buttons Base Styes
*
* A pulse like glow that appears
* rythmically around the edges of
* a button.
*/

// as mixin
@mixin glow-dynamically($animation, $animation-active, $hover-border-width, $hover-border-color) {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: $animation;
  &:active {
    animation-name: $animation-active;
    animation-duration: 6s;
    border-style: solid;
    border-width: $border-width;
  }
  &:hover{
    border-style: solid;
    border-width: $hover-border-width;
    box-shadow: 0 0 1.25em rgba($hover-border-color, 0.8);
    border-color: $hover-border-color;
  }
}


