#main {
    margin: auto;
	border: 1px solid #cccccc;
	width: 640px;
	background: #F1F3F5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size : 12px;
}

form {
    margin-left: 100px;
	border: 1px solid #cccccc;
	width: 500px;
	background: #E9ECEF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size : 12px;
    padding:5px;
    margin-bottom:10px;
}

#result {
    margin-left: 100px;
	border: 1px solid #cccccc;
	width: 500px;
	background: #E9ECEF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size : 12px;
    padding:5px;
    margin-bottom:50px;
}

.text {
	border: 1px solid #cccccc;
}

input {
    border: 0px solid #cccccc;
}

.values{
  font-family: verdana;
  font-weight:normal;
  font-size : 10px;
  align:top;
  vertical-align:top;
}

.key{
  font-family: verdana;
  font-weight:bold;
  font-size : 12px;
  padding-bottom:15px;
}


.caption{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin:10px;
    font-size : 14px;
    color:#C64934;
}

#icon{
    width:100px;
    height:100px;
    float:left;
    background-image:url(icon.gif);
    background-repeat: no-repeat;
    background-position:center center;
}
#icon2{
    width:100px;
    height:100px;
    float:left;
    background-image:url(icon2.gif);
    background-repeat: no-repeat;
    background-position:top center;
}

#source{
  text-align:right;
  align:right;
  padding-right:10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:normal;
  font-size : 10px;
  color:#CCCCCC;
}